<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UnitTest" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Documents\Studium\Sem5\SWK\UFO\UFO.UnitTest\UnitTest.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  <appSettings>
    <add key="DALAssembly" value="UFO.DAL.SQLServer" />
  </appSettings>
</configuration>